Python Data Types and Type Casting

In [ ]:
#Example: Integer (int)

x = 5

x

5

In [2]:
#Example: Float (float)

y = 3.14

y

3.14

In [3]:
#Example: String (str)

name = "python"

name

'python'

In [5]:
#Example: Boolean (bool)

is_python_fun = True

is_python_fun

True

Checking the type with type()

In [6]:
x = 10
y = 3.5
name = "Hello"
is_active = False

print(type(x))
print(type(y))
print(type(name))
print(type(is_active))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

Type Casting

In [7]:
#Example: Converting to int using int()

a = 5.7

b = int(a)

print(b)
print(type(b))

5
<class 'int'>

In [9]:
#Example: Converting string to an integer using int()

num = "10"
converted_num = int(num)

print(converted_num)
print(type(converted_num))

10
<class 'int'>

In [10]:
#Example: Converting to float using float()

x =10
y= float(x)

print(y)
print(type(y))

10.0
<class 'float'>

In [11]:
#Example: Convert numeric strings to float

price = "19.99"
new_price = float(price)

print(new_price)
print(type(new_price))

19.99
<class 'float'>

In [13]:
#Example: Converting to str using str()

age = 25
age_text = str(age)

print(age_text)
print(type(age_text))

print("I am " + age_text + " years old")

25
<class 'str'>
I am 25 years old

Boolean values(bool)

In [14]:
x =10
y= 5
result = x > y
print(result)
print(type(result))

True
<class 'bool'>

Common mistakes to avoid while adding string and a number without conversion

In [ ]:
#Example: do not do following as it give error

age = "25"

print(age + 5)

In [15]:
#Example: Do following instaed

age = "25"

print(int(age) + 5)

30